<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pigra.appsisrob">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppSISROB">
        <activity
            android:name=".RegistroSolicitud"
            android:exported="true"
            android:label="SISROB: Mantenimiento"
            android:parentActivityName=".RepuestosActivity"
            android:theme="@style/Theme.AppSISROBDet"
            />
        <activity
            android:name=".VisorVideoActivity"
            android:exported="true"
            android:label="SISROB: Visor"
            android:parentActivityName=".VisorVideoActivity"
            android:theme="@style/Theme.AppSISROBDet"/>

        <activity
            android:name=".DetalleEquipoActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrarEquipoActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroFallasActivity"
            android:exported="true"
            android:label="SISROB: Mantenimiento"
            android:parentActivityName=".FallasActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".RegistrarNoticiasActivity"
            android:exported="true"
            android:label="SISROB: Mantenimiento"
            android:parentActivityName=".NoticiasActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".RegistrarVideosActivity"
            android:exported="true"
            android:label="SISROB: Mantenimiento"
            android:parentActivityName=".VideosActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".ActivityFiltroEquipos"
            android:exported="true"
            android:label="SISROB: Menu"
            android:parentActivityName=".MenuEquipos"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".RepuestosActivity"
            android:exported="true"
            android:label="SISROB: Listado"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".FallasActivity"
            android:exported="true"
            android:label="SISROB: Listado"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".NoticiasActivity"
            android:exported="true"
            android:label="SISROB: Listado"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".VideosActivity"
            android:exported="true"
            android:label="SISROB: Listado"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".ValRecupPswActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSISROB" />
        <activity
            android:name=".RecuperaPswActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSISROB" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSISROB" />
        <activity
            android:name=".MenuEquipos"
            android:exported="true"
            android:label="SISROB: Menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppSISROBDet" />
        <activity
            android:name=".InicioActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSISROB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSISROBDet" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>